extends layout

block content
  div(ng-controller="TimesController as vm")
    .row
      .col-md-12
        h1 Toggl but better

        //- pre {{ vm.entries | json }}


        //-         "id": 723079885,
        //-   "guid": "b19fd56d36c5412d491baafe943d6df2",
        //-   "wid": 1538855,
        //-   "pid": 79487601,
        //-   "billable": true,
        //-   "start": "2017-10-25T08:00:00+00:00",
        //-   "stop": "2017-10-25T15:30:00+00:00",
        //-   "duration": 27000,
        //-   "duronly": false,
        //-   "at": "2017-11-03T15:12:45+00:00",
        //-   "uid": 3713163
        //- },

        //- pre {{ vm.USER | json }}
        //- pre {{ vm.entries | json }}

        label Start
          input(type="date", ng-model="vm.start_date")
        label End
          input(type="date", ng-model="vm.end_date")

        button(ng-click="vm.reload()") Reload


        table.table.table-striped.table-hover
          thead
            tr
              //- th ids
              th Project
              th Client
              th Tags
              th billable
              th Day
              th Date
              th Start
              th End
              th Duration
              //- th Only Duration?

          //- thead
          //-   tr
          //-     th
          //-       input(type="date")
          //-       input(type="time")


          tbody

            tr(ng-repeat="entry in vm.entries | orderBy:'-start'")

              //- td
              //-   .label.label-success {{entry.id}}
              td
                .label.label-success {{vm.projectName(entry.wid, entry.pid) || 'None'}}
              td
                .label.label-warning {{vm.clientName(entry.wid, entry.pid) || 'None'}}
              td
                div(ng-repeat="tag in entry.tags").label.label-info {{ tag }}
                //- .label.label-success {{entry.pid}}
                //- .label.label-success {{entry.wid}}
                //- .label.label-success {{entry.guid}}
                //- .label.label-success {{entry.uid}}
              td
                label {{ entry.billable }} #[input(type=`checkbox` ng-model="entry.billable", ng-change="vm.updateBillable(entry)")]
              td
                div(ng-class="{ 'label-default' : vm.isWeekday(entry.start), 'label-warning' : !vm.isWeekday(entry.start) }").label {{entry.start | date:'EEEE'}}
              td {{entry.start | date:'MMM d, y'}}
              td {{entry.start | date:'mediumTime'}}
              td {{entry.stop | date:'mediumTime'}}
              td {{entry.duration / 60 / 60}}h
              //- td {{entry.duronly}}
